extends layout.pug

block content
  section#content
    form(action='/trackName', method='post')
      label Enter your name:
        input(type="text", name='name')
      button(type='submit') Submit